<div class="content_wrapper">
	<h2> Services </h2>
	<p>We provide two major services - VoIP Resell and VoIP Wholesale. VoIP Wholesale services are automated and instant while VoIP Resell services are not.</p>
	<div id="vr_vw_wrapper">
		<div id="vr">
		<h3>VoIP Resell</h3>
			<ul>
				<li>1. sign up first </li>
				<li><%= image_tag("services_vr_signup.jpg") %></li><br>
				<li>2. We will sign you up manually</li>
				<li><%= image_tag("services_vw_add_payment.jpg") %></li><br>
				<li>3. We will send you username and password</li>
				<li><%= image_tag("services_vw_login.jpg") %></li><br>
				<li>4. finally, start sending traffics <br> 
					<span style="font-weight: 300;">Premium Route IP: 123.123.123.123 <br>
					Gold Route IP: 111.111.111.111</span>
				</li>
			</ul>
		</div>
		<div id="vw">
			<h3>VoIP Wholesale</h3>
			<ul>
				<li>1. sign up first </li>
				<li><%= image_tag("services_vw_signup.jpg") %></li><br>
				<li>2. add payment after signing up</li>
				<li><%= image_tag("services_vw_add_payment.jpg") %></li><br>
				<li>3. login into your account and add your ip addresses</li>
				<li><%= image_tag("services_vw_login.jpg") %></li><br>
				<li>4. finally, start sending traffics <br> 
					<span style="font-weight: 300;">Premium Route IP: 123.123.123.123 <br>
					Gold Route IP: 111.111.111.111</span>
				</li>
			</ul>
		</div>
	</div>
</div>
