<div class="content_wrapper">
	<h1><strong><%= t ".title" %></strong></h1>
	<div class="content_wrapper">

	<div id="service_wrapper">

		<div id="service_left">
			<h4>IVGC Services</h4>

			<ul>
				<li><%= link_to "1. Wholesale Termination", :controller => :services, :action => :wholesale %></li>
				<li><%= link_to "2. Reseller Program", :controller => :services, :action => :reseller %></li>
				<li><%= link_to "3. SIP Trunking", "#" %></li>
				<li><%= link_to "4. VoIP Services", "#" %></li>
			</ul>

		</div>

		<div id="service_right">
			<p>If you're interested in getting into the VoIP business, you've come to the right place. IVGC offers a complete self-service system that lets you access, manage, and sell wherever you want, and at the amount you can handle. Setup and management are easier than ever, and there is no minimum purchase required.<p>
			<p><strong>Select a service to learn more and get started selling today.<strong></p>
		</div>
	</div>
</div>
