<div class="content_wrapper">
	<h2> Services </h2>
	<p>We provide two major services - VoIP Reseller and VoIP Wholesale. VoIP Wholesale services are automated and instant while VoIP Reseller services are not. If you are interested in VoIP Reseller, our Sales Managers will get in contact with you after signing up. If you are only interested in Wholesale Termination, it is completely automated and ready to go after sign-up and payment.</p>
	<div id="vr_vw_wrapper">
		<div id="vr">
		<h3>VoIP Reseller</h3>
			<ul>
				<li>1. sign up first </li>
				<li><%= image_tag("services_vr_signup.jpg") %></li><br>
				<li>2. our sales manager will sign you up</li>
				<li><%= image_tag("services_vr_sales_manager.jpg") %></li><br>
				<li>2. you will be asked to make payment</li>
				<li><%= image_tag("services_vr_payment.png") %></li><br>
				<li>2. we will create a portal for you to start selling</li>
				<li><%= image_tag("services_vr_portal.jpg") %></li><br>
			</ul>
		</div>
		<div id="vw">
			<h3>Wholesale Termination</h3>
			<ul>
				<li>1. sign up first </li>
				<li><%= image_tag("services_vw_signup.jpg") %></li><br>
				<li>2. add payment after signing up</li>
				<li><%= image_tag("services_vw_add_payment.jpg") %></li><br>
				<li>3. login into your account and add your ip addresses</li>
				<li><%= image_tag("services_vw_login.jpg") %></li><br>
				<li>4. finally, start sending traffics <br> 
					<span style="font-weight: 300;">Route 1 IP: 208.65.111.132 <br>
					Route 1 IP: 208.65.111.132</span>
				</li>
			</ul>
		</div>
	</div>
</div>
