  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <%= image_tag("slide1.jpg") %>
      <%= image_tag("slide2.jpg") %>
      <%= image_tag("slide3.jpg") %>
      <%= image_tag("slide4.jpg") %>
    </div>
  </div>
<div class="left_section" id="left_section_home">
  <section>
    <header>VOIP Reseller Services</header>
    <ul>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
    </ul>
    <article><%= link_to "sign up now", "#" %></article>
  </section>
</div>

<div class="right_section" id="right_section_home">
  <section>
    <header>Wholesale A-Z Routes</header>
    <ul>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
      <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
    </ul>
    <article><%= link_to "sign up now", signups_path %></article>
  </section>
</div>
