  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <%= image_tag("slide1.jpg") %>
      <%= image_tag("slide2.jpg") %>
      <%= image_tag("slide3.jpg") %>
      <%= image_tag("slide4.jpg") %>
    </div>
  </div>
<div class="left_section" id="left_section_home">
  <section>
    <header>VOIP Reseller Services</header>
    <ul>
      <li>Reseller, Call-Shops and Point of Sale Turn-Key Solutions</li>
      <li>Customized Private Label Panel, A-Z Rates, Grey and CLI Routes</li>
      <li>3 Levels Distribution system and Customer / Agent management</li>
    </ul>
    <article><%= link_to "sign up now", voip_resellers_path %></article>
  </section>
</div>

<div class="right_section" id="right_section_home">
  <section>
    <header>Wholesale A-Z Routes</header>
    <ul>
      <li>Instant Direct connection IP 2 IP </li>
      <li>Automated and instant sign-up, send traffic within the first minute of sign-up</li>
      <li>Low cost quality routes all over world - Negotiate rates per volume/top destination</li>
    </ul>
    <article><%= link_to "sign up now", signups_path %></article>
  </section>
</div>