<%= image_tag attachments['logo.png'].url, :alt => 'Our Photo', :class => 'photo' %><br><br>
<%= "#{@user["message"]}" %>.
<table style="border-collapse: collapse;
		margin-top: 10px;
		text-align: center;
		background-color: #FFFFCC;
		border: 1px solid black;">
  <tbody>
      <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Account</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;"><%= @user["login"]%></td>
      </tr>
      <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Action</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Add Payment</td>
      </tr>
      <tr>
      	<td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Amount</td>
      	<td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">$<%= @user["amount"] %></td>
      <tr>
  </tbody>
</table><br>
Please confirm the transaction and notify the customer at <%= @user["email"] %>.