<%= image_tag attachments['logo.png'].url, :alt => 'Our Photo', :class => 'photo' %><br><br>
Hello team, Mr/Miss <strong><%= "#{@user["login"]}" %></strong> has just signed up with us. Here are some details:
<table style="border-collapse: collapse;
		margin-top: 10px;
		text-align: center;
		background-color: #FFFFCC;
		border: 1px solid black;">
 <tbody>
      <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Customer Name</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;"><%= @user["fullname"] %></td>
      </tr>
      <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Account ID</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;"><%= @user["login"]%></td>
      </tr>
      <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Email</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;"><%= @user["email"] %></td>
      <tr>
        <tr>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;">Password</td>
        <td style="padding:5px; text-align: left; border: 1px solid black; height:30px; width:180px;"><%= @user["password"] %></td>
      <tr>
  </tbody>
</table><br>
Let give this cutomer our best support!<br><br>