<div class="content_wrapper" style="text-align: left;">
  <h2 style="text-align: center;"><%= t ".title" %></h2>
  <h3><%= t ".banner" %></h3>

  <div class="common_form", id="signup_form">
    <% if flash[:error] %>
  	  <div class="error" style="margin-bottom: 15px;" >
  		  <%= flash[:error] %>
      </div>
    <% end %>
  <% if I18n.locale != :en %><%= stylesheet_link_tag "locales/" + I18n.locale.to_s %>
    <article class="title" style="padding: 10px 0 0 28px; width: 220px;"><span id="sign_up"> <%= t (".sign") %></span></article>
  <% else %>
    <article class="title" style="padding: 10px 0 0 28px; width: 220px;"><span> <%= t (".sign") %></span></article>
  <% end %>
  <%= form_tag(:action => "signUp") do %>
    <%= label_tag t(".cname") %>
    <%= text_field_tag 'company_name', session[:company_name] %><br>
    <%= label_tag t(".ip") %>
    <%= text_field_tag 'ip1', session[:ip1] %><br>
    <%= label_tag t(".user") %>
    <%= text_field_tag 'username', session[:username] %><br>
    <%= label_tag t(".pw") %>
    <%= password_field_tag 'password' %><br>
    <%= label_tag t(".email") %>
    <%= text_field_tag 'email', session[:email] %><br>
    <div style="font-size: 80%; overflow: auto;"><span style="width: 50px; margin: 0 43px 0 2px; float:left;"> <%= t ".cc" %></span><span style="width: 150px; margin: -30px 10px 0 2px; float:right;"><%= t ".phone" %></span></div>
    <span id ="country_code"><%= text_field_tag 'cc', session[:cc] %></span>
    <span id ="phone"><%= text_field_tag 'phone', session[:phone]%></span><br>
    <strong><%= recaptcha_tags %></strong> 
    <%= submit_tag t(".submit"), :class => "common_btn", :id => "sign_up_btn" %>
  <% end %>
  </div>
</div>