<div class="signup_message">Sign-up now and take advantage of a fast, reliable platform with low-cost voice rates</div>

<div class="signup_form">
	<div class="error" >
		<% if flash[:error] %>
          <%= flash[:error] %>
        <% end %>
	</div>
<article class="title"><span>Sign Up Form</span></article>
<%= form_tag(:action => "signUp") do %>
  <%= label_tag "Company Name: (optional)" %>
  <%= text_field_tag 'company_name', session[:company_name] %><br>
  <%= label_tag "Desired Username: " %>
  <%= text_field_tag 'username', session[:username] %><br>
  <%= label_tag "Password: " %>
  <%= password_field_tag 'password' %><br>
  <%= label_tag "Email: " %>
  <%= email_field_tag 'email', session[:email] %><br>
  <%= label_tag "Phone Number:" %>
  <%= phone_field_tag 'phone', session[:phone] %><br>
  <%= submit_tag "Submit", :class => "signup_submit" %>
<% end %>
</div>