<div class="signup_message">Sign-up now and take advantage of a fast, reliable platform with low-cost voice rates</div>

<div class="common_form", id="signup_form">
  <% if flash[:error] %>
	  <div class="error" style="margin-bottom: 15px;" >
		  <%= flash[:error] %>
    </div>
  <% end %>
<article class="title"><span>Sign Up Form</span></article>
<%= form_tag(:action => "signUp") do %>
  <%= label_tag "Company Name: (optional)" %>
  <%= text_field_tag 'company_name', session[:company_name] %><br>
  <%= label_tag "Desired Username: " %>
  <%= text_field_tag 'username', session[:username] %><br>
  <%= label_tag "Password: " %>
  <%= password_field_tag 'password' %><br>
  <%= label_tag "Email: " %>
  <%= text_field_tag 'email', session[:email] %><br>
  <%= label_tag "Phone Number:" %>
  <%= phone_field_tag 'phone', session[:phone] %><br>
  <%= recaptcha_tags %>
  <%= submit_tag "Submit", :class => "submit_button" %>
<% end %>
</div>