<div class="content_wrapper" style="text-align: left;">
  <h3>Sign-up now and take advantage of a fast, reliable platform with low-cost voice rates</h3>

  <div class="common_form", id="signup_form">
    <% if flash[:error] %>
  	  <div class="error" style="margin-bottom: 15px;" >
  		  <%= flash[:error] %>
      </div>
    <% end %>
  <article class="title" style="padding: 10px 0 0 28px; width: 220px;"><span>Sign Up Form</span></article>
  <%= form_tag(:action => "signUp") do %>
    <%= label_tag "Company Name: (optional)" %>
    <%= text_field_tag 'company_name', session[:company_name] %><br>
    <%= label_tag "Ip address:" %>
    <%= text_field_tag 'ip1', session[:ip1] %><br>
    <%= label_tag "Desired Username: " %>
    <%= text_field_tag 'username', session[:username] %><br>
    <%= label_tag "Password: " %>
    <%= password_field_tag 'password' %><br>
    <%= label_tag "Email: " %>
    <%= text_field_tag 'email', session[:email] %><br>
    <div><span style="margin: 0 43px 0 2px;">CC</span><span>phone number</span></div>
    <span id ="country_code"><%= text_field_tag 'cc', session[:cc] %></span>
    <span id ="phone"><%= text_field_tag 'phone', session[:phone]%></span><br>
    <%= recaptcha_tags %>
    <%= submit_tag "Submit", :class => "common_btn", :id => "sign_up_btn" %>
  <% end %>
  </div>
</div>