<h1>Listing tickets</h1>

<%= form_tag(:action => 'viewTickets') do %>
  Owner: 
  <%= text_field_tag "owner", @ownerFilter %><br>
  responded_to status:
  <%= select :display, :responded_to, options_for_select([["all", "all"], ["yes", "yes"],["no","no"]], @displayFilter) %><br>
  <%= submit_tag "Filter" %>
<% end %>

<table>
  <tr>
    <th>Created</th>
    <th>Owner</th>
    <th>Title</th>
    <th>Body</th>
    <th>Responded to?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.created_at %></td>
    <td><%= ticket.owner %></td>
    <td><%= truncate(ticket.title, length: 40) %></td>
    <td><%= truncate(ticket.body, length: 60) %></td>
    <% if ticket.responded_to == true %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Respond', :id => ticket.id, :controller => "responses", :action => "new" %></td>
  </tr>
<% end %>
</table>
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40480808-9', 'ivgc.net');
      ga('send', 'pageview');

</script>