<div class="content_wrapper">
  <% if session[:admin] != true %>
    <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
    <% elsif flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>


    <h2>Tickets</h2>
    <%if session[:admin] != true %>
      <span class = "common_btn" id="submit_ticket_btn"><%= link_to "Submit new ticket", new_ticket_path %></span>
    <% end %>
    <table class="list">
      <tr>
        <th>Submission Date</th>
        <th>Ticket Title</th>
        <th>Content</th>
        <th>View Tickets</th>
        <th>View Responses</th>
      </tr>

    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.created_at %></td>
        <td><%= truncate(ticket.title, length: 40) %></td>
        <td><%= truncate(ticket.body, length: 50) %></td>
        <td><%= link_to 'View ticket', ticket %></td>
        <% if ticket.responded_to == true %>
        <td><%= link_to 'Show responses', :id => ticket.id, action: "viewResponses" %></td>
        <% else %>
        <td>Nobody responded yet</td>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>