<h1>Listing responses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Associated ticket</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |r| %>
  <tr>
    <td><%= r.description %></td>
    <td><%= Ticket.where(:id => r.id)[0].title rescue nil %>
    <td><%= link_to 'Show', r %></td>
    <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Update', edit_response_path(r) %></td>
  </tr>
<% end %>
</table>

<br />