<style>
td {
 	border-bottom: 1px #600000 dotted;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	padding: 0 10px;
	font-size: 80%;
 }
</style>
<% ('A'..'Z').each do |char| %>
	<%= link_to char, :first_letter => char, :action => 'displayRate'%>
<% end %>
<%= button_to "Show all", :first_letter => '*', :action => 'displayRate'%>
<table>
	<thead>
        <tr>
			<th> <%= 'Country' %> </th>
			<th> <%= 'Prefix' %> </th>
			<th> <%= 'Cost' %> </th>
		</tr>
	</thead>
	<% @rates.each do |r| %>
	<tr>
		<td> <width="150" style="text-align: right;"><%= r['country'] %></td>
		<td> <width="70" style="text-align: left;"><%= r['destination'] %></td>
		<td> <width="70" style="text-align: left;"><%= r['price_1'] %></td>
	</tr>
	<% end %>
</table>
