<style>
td {
 	border-bottom: 1px #600000 dotted;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	padding: 0 10px;
	font-size: 80%;
 }
a {
	text-decoration: none;
	color: #600;
}
</style>
<% char_array = [] %>
<% ('A'..'Z').each do |char| %>
    <% char_array.push(char) %>
<% end %>
<strong><%= link_to "Show all", :first_letter => '*', :action => 'displayRate'%></strong>
<table>
	<thead>
        <tr>
			<th> <%= 'Country' %> </th>
			<th> <%= 'Prefix' %> </th>
			<th> <%= 'Cost' %> </th>
			<th> </th>
		</tr>
	</thead>
	<% i = 0 %>
	<% while i < char_array.size %>
			<%= "| " %>
			<strong><%= link_to char_array[i], :first_letter => char_array[i], :action => 'displayRate'%></strong>
	<% i+= 1 %>
	<% end %>
	<% i = 0 %>
	<% @rates.each do |r| %>
	<tr>
		<td> <width="150" style="text-align: right;"><%= r['country'] %></td>
		<td> <width="70" style="text-align: left;"><%= r['destination'] %></td>
		<td> <width="70" style="text-align: left;"><%= r['price_1'] %></td>
		<% i += 1 %>
	</tr>
	<% end %>
</table>
