<div class="content_wrapper">
	<h2><%= t (".title") %></h2>
	<div id="rates_wrapper">	
		<div id="rates_left">
			<p>
				<%= t (".description") %>
			</p>
			<ul>
				<li>
					<div id="routes">
						<h4><%= t (".routes") %></h4>
					</div>
					<p><%= t (".route_desc") %></p>
				</li>
				<li>
					<div id="manage">
						<h4><%= t (".rates") %></h4>
					</div>
					<p><%= t (".rates_desc") %></p>
				</li>
				<li>
					<div id="monitoring">
						<h4><%= t (".monitor") %></h4>
					</div>
					<p><%= t (".monitor_desc") %></p>
				</li>
				<li>
					<div id="payments">
						<h4><%= t (".payments") %></h4>
					</div>
					<p><%= t (".payments_desc") %></p>
				</li>
			</ul>
		</div>
		<!--div id="rates_right"-->
			<!--iframe src="<%= url_for :action => 'displayRate' %>" border="0"-->
			<!--/iframe-->
		<!--/div-->
	</div>
	<%if session[:admin] == true %>

	<%= form_tag import_rates_path, multipart: true do %>
	  <%= file_field_tag :file %><br>
	  <%= submit_tag "Import" %>
	<% end %>

	<% end %>
</div>
