<!DOCTYPE html>
<html>
<head>
  <title><%= t "app.title" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "nivo-slider", :media => "screen" %>
  <%= stylesheet_link_tag "themes/default/default", :media => "screen" %>
  <%= stylesheet_link_tag "themes/light/light", :media => "screen" %>
  <%= stylesheet_link_tag "themes/dark/dark", :media => "screen" %>
  <%= stylesheet_link_tag "themes/bar/bar", :media => "screen" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40480808-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
<div class="lang">
	<ul>
		<li><%= link_to_unless_current image_tag("english.jpg"), :locale => "en" %></li>
		<li><%= link_to_unless_current image_tag("spanish.jpg"), :locale => "sp" %></li>
		<li><%= link_to_unless_current image_tag("brazil.png"), :locale => "br" %></li>
	</ul>
</div>
<header id="banner"> <!-- The top header section where we have the logos, login panel and the main menus -->
		<span id="title"><h1><%= link_to image_tag("ivgc_logo1.png", border: "0"), root_path %></h1></span> <!-- MAIN TITLE -->
		<span id="login_and_nav_wrapper">	
			<% if !session[:current_login] %>
				<h6 style="margin:0 0 0 10px;"><%= link_to "Forgot Password?", :controller => :accounts, :action => "forgotPassword" %></h6>
				<section id="login_panel_main" class="login_signout_panel"> <!-- The login panel that appears on the top right corner of the page -->
					<% if flash[:error] %>
					  <span class="error" id="error-login-home" >
					    <%= flash[:error] %>
					  </span>
					<% end %>
					<%= form_tag sessions_path do %>
					    <%= text_field_tag :username, nil, :placeholder =>t("app.username"), class: "feedback-input", id: "username_home" %>
					    <%= password_field_tag :password, nil, :placeholder =>t("app.password"), class: "feedback-input", id: "password_home" %>
  						<%= submit_tag "Login", id: "btn-login", class: "common_btn" %>
					<% end %>
				</section>
			<% else %>
				<section id="signout_panel_main" class="login_signout_panel">
					<%= t("app.status") %> <span><%= session[:customer_login] %></span>
					<%= link_to t("app.logout"), '/sessions/destroy' %>
				</section>
			<% end %>
			<nav id="main_navs"> <!-- The main menu -->
				<ul>
					<li><%= link_to t("app.init"), :controller => :accounts, :action => :index %></li>
					<li><%= link_to t("app.about_us"), about_us_path %></li>
					<li><%= link_to t("app.services"), services_path %></li>
					<li><%= link_to t("app.rates"), rates_path %></li>
					<li><%= link_to t("app.contact_us"), contact_us_path %></li>
					<li><%= link_to t("app.dashboard"), :controller => :accounts, :action => :instructions %></li>
				</ul>
			</nav>
		</span>
	</header>
	<div id="main_wrapper">
		<% if session[:current_login] %>
			<nav class="users_menu">
				<ul>
					<%if session[:admin] == true %>
						<% if I18n.locale == :en %>
							<li><%= link_to "View Tickets", "/en/admin/viewTickets" %></li>
						    <li><%= link_to "View Responses", "/en/responses" %></li>
							<li><%= link_to "See account lists", "/en/admin/accountList" %></li>
						<% end %>
					<%else%>
					    <% if I18n.locale == :en %>
							<li><%= link_to t("app.update"), "/en/accounts/updateAccount" %></li>
							<li><%= link_to t("app.ips"), "/en/accounts/manageIP" %></li>
							<li><%= link_to t("app.payments"), "/en/accounts/addCredits" %></li>
							<li><%= link_to t("app.cdr"), "/en/accounts/viewCDR" %></li>
							<li><%= link_to t("app.tickets"), "/en/tickets" %></li>
						<% elsif I18n.locale == :sp %>
							<li><%= link_to t("app.dashboard"), "/sp/home/" %></li>
							<li><%= link_to t("app.update"), "/sp/accounts/updateAccount" %></li>
							<li><%= link_to t("app.ips"), "/sp/accounts/manageIP" %></li>
							<li><%= link_to t("app.payments"), "/sp/accounts/addCredits" %></li>
							<li><%= link_to t("app.cdr"), "/sp/accounts/viewCDR" %></li>
							<li><%= link_to t("app.tickets"), "/sp/tickets" %></li>
						<% else %>
							<li><%= link_to t("app.dashboard"), "/br/home/" %></li>
							<li><%= link_to t("app.update"), "/br/accounts/updateAccount" %></li>
							<li><%= link_to t("app.ips"), "/br/accounts/manageIP" %></li>
							<li><%= link_to t("app.payments"), "/br/accounts/addCredits" %></li>
							<li><%= link_to t("app.cdr"), "/br/accounts/viewCDR" %></li>
							<li><%= link_to t("app.tickets"), "/br/tickets" %></li>
						<% end %>
					<%end%>
				</ul>
			</nav>
		<%end%>

		<%= yield %>

		<footer>
			<nav>
				<ul>
					<li><%= t "footer.description" %></li>
				</ul>
			</nav>
		</footer>
	</div>



<%= javascript_include_tag "jquery-1.9.0.min" %>
<%= javascript_include_tag "jquery.nivo.slider" %>
<script type="text/javascript">
  $(window).load(function() {
    $('#slider').nivoSlider();
  });
</script>

</body>
</html>
