<%= link_to "Go back to accounts", '/accounts' %>
<table>
	<thead>
		<th>Login</th>
		<th>Password</th>
		<th>Openning Balance</th>
		<th>email</th>
		<th></th>
	</thead>
	<tbody>
		<% @result["account_list"].each do |e|%>
		<tr>
			<td><%= e["login"] %> </td>
			<td><%= e["password"] %> </td>
			<td><%= e["opening_balance"] %> </td>
			<td><%= e["subscriber_email"] %> </td>
			<td><%#= link_to "Details", :id => e["id"], :action => "get_account_info" %></td>
		</tr>
        <% end %>
     </tbody>
</table>