<div class="content_wrapper">
	<h2><%= t ".title" %></h2>
		<% if session[:admin] != true %>
			<% if flash[:notice] %>
			    <div class="notice" style="margin-bottom: 15px;" >
			      <%= flash[:notice] %>
			    </div>
			<%end%>
			<% if flash[:error] %>
			    <div class="error" style="margin-bottom: 15px;" >
			      <%= flash[:error] %>
			    </div>
			<%end%>
			<div id="add_credit_block" style="text-align: left; margin: auto; width: 250px;">
				<%= form_tag(:action => "addCreditsSubmit") do %>
				  <%= label_tag t(".amount") %>
				  <%= text_field_tag 'amount' %> <br><br>
				  <div id="paypal">
				    <%= radio_button_tag 'payment', "paypal", true, class: "radio_btn" %><%= t ".paypal" %>
				  </div>
				  <div id="bank">
				  <%= radio_button_tag 'payment', "bank", false, class: "radio_btn" %><%= t ".bank" %><br><br>
				  </div>
				  <div id="wu">
				  <%= radio_button_tag 'payment', "wu", false, class: "radio_btn" %><%= t ".wu" %>
				  </div>
				  <%= submit_tag t(".continue"), :class => "common_btn sub_common_btn", :id => "add_credit_btn" %>
				<% end %>
			</div>
			
		<% end %>		
</div>
