<div class="content_wrapper" style="text-align: left;">
<% if session[:admin] == true %>
  <p><strong><%= t ".status" %></p></strong>
<%end%>
<% if flash[:notice] %>
    <div class="notice" style="margin-bottom: 15px;" >
      <%= flash[:notice] %>
    </div>
<%end%>
<% if flash[:error] %>
    <div class="error" style="margin-bottom: 15px;" >
      <%= flash[:error] %>
    </div>
<%end%>
<section id="account_overview" class="summary_box">
<h3><%= t ".overview" %></h3>
<table>
	<tbody>
		<tr>
			<td><strong><%= "Customer Name:" %></strong></td>
			<td><%= @result["customer_info"]["firstname"] + " " + @result["customer_info"]["lastname"] rescue nil %></td>
		</tr>
		<tr>
			<td><strong><%= "Login:" %></strong></td>
			<td><%= @result["customer_info"]["login"] %></td>
		</tr>
		<tr>
			<td><strong><%= "Account balance:" %></strong></td>
			<td><%= @result["customer_info"]["balance"] %></td>
		</tr>
		<tr>
			<td><strong><%= "Email: " %></strong></td>
			<td><%= @result["customer_info"]["email"] %></td>
		</tr>
	</tbody>
</table>
</section>
<section id="top5">
	<section id="top5_minute" class="summary_box">
		<h3><%= t ".minutes" %></h3>
		<table>
			<thead>
				<tr>
					<th><%= t ".country" %></th>
					<th><%= t ".duration" %></th>
				</tr>
			</thead>
			<tbody>
				<% @top_5_dest_by_min.each do |k, v| %>
	            	<tr>
	        		<td> <%= v[0] %> </td>
	        		<td> <%= (v[1].to_i/60).round(0) %> </td>
	       			</tr>
	    		<% end %>
    		</tbody>
		</table>
	</section>
	<section id="top5_cost" class="summary_box">
		<h3><%= t ".cost" %></h3>
		<table>
			<tr>
				<th><%= t ".country" %></th>
				<th><%= t ".cst" %></th>
			</tr>
			<% @top_5_dest_by_cost.each do |k, v| %>
            <tr>
        		<td> <%= v[0] %> </td>
        		<td> <%= v[1] %> </td>
      		</tr>
    		<% end %>
		</table>
	</section>
</section>
<section id="payment_history" class="summary_box">
<h3><%= t ".payment" %></h3>
<table>
	<thead>
		<tr>
			<th><%= t ".date" %></th>
			<th><%= t ".amount" %></th>
			<th><%= t ".country" %></th>
			<th><%= t ".customer" %></th>
		</tr>
	</thead>
	<tbody>
		<% @xdr.each do |e| %>
			<% if e['description'] == 'Balance adjustment - Manual Payment' %>
			<tr>
				<td><%= e['connect_time'].split(" ")[0] %></td>
				<td><%= e['charged_amount']%> </td>
				<td><%= e['country']%> </td>
				<td><%= e['customer']%> </td> 
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</section>
</div>
