<div class="content_wrapper" style="text-align: left;">
<% if session[:admin] == true %>
  <p><strong>You are now logged in as an admin!</p></strong>
<%end%>
<% if flash[:notice] %>
    <div class="notice" style="margin-bottom: 15px;" >
      <%= flash[:notice] %>
    </div>
<%end%>
<% if flash[:error] %>
    <div class="error" style="margin-bottom: 15px;" >
      <%= flash[:error] %>
    </div>
<%end%>
<section id="account_overview" class="summary_box">
<h3>Account Overview</h3>
<table>
	<tbody>
		<tr>
			<td><strong><%= "Account Holder's Name:" %></strong></td>
			<td><%= @result["account_info"]["firstname"] + " " + @result["account_info"]["lastname"] rescue nil %></td>
		</tr>
		<tr>
			<td><strong><%= "Address:" %></strong></td>
			<td><%= @result["account_info"]["baddr1"] rescue nil %></td>
		</tr>
		<tr>
			<td><strong><%= "Login:" %></strong></td>
			<td><%= @result["account_info"]["login"] %></td>
		</tr>
		<tr>
			<td><strong><%= "Account balance:" %></strong></td>
			<td><%= @result["account_info"]["balance"] %></td>
		</tr>
		<tr>
			<td><strong><%= "Email: " %></strong></td>
			<td><%= @result["account_info"]["subscriber_email"] %></td>
		</tr>
		<tr>
			<td><strong><%= "Your primary IP: " %></strong></td>
			<td><%= @result["account_info"]["id"] %></td>
		</tr>
	</tbody>
</table>
</section>
<section id="top5">
	<section id="top5_minute" class="summary_box">
		<h3>Top 5 Desitinations (Minutes)</h3>
		<table>
			<% @top_5_dest_by_min.each do |k, v| %>
            	<tr>
        		<td> <%= v[0] %> </td>
        		<td> <%= v[1] %> </td>
       			</tr>
    		<% end %>
		</table>
	</section>
	<section id="top5_cost" class="summary_box">
		<h3>Top 5 Desitinations (Cost)</h3>
		<table>
			<% @top_5_dest_by_cost.each do |k, v| %>
            <tr>
        		<td> <%= v[0] %> </td>
        		<td> <%= v[1] %> </td>
      		</tr>
    		<% end %>
		</table>
	</section>
</section>
<section id="payment_history" class="summary_box">
<h3>Payment History</h3>
<table>
	<thead>
		<tr>
			<th>Payment Date</th>
			<th>Amount</th>
			<th>Country</th>
			<th>Customer</th>
		</tr>
	</thead>
	<tbody>
		<% @xdr.each do |e| %>
			<% if e['description'] == 'Balance adjustment - Manual Payment' %>
			<tr>
				<td><%= e['connect_time'].split(" ")[0] %></td>
				<td><%= e['charged_amount']%> </td>
				<td><%= e['country']%> </td>
				<td><%= e['customer']%> </td> 
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</section>
</div>
