<div id="vr_vw_wrapper">
	<div id="vr">
	<h3><%= t ".voip" %></h3>
		<ul>
			<li><%= t ".vline1" %></li>
			<li><%= image_tag("services_vr_signup.jpg") %></li><br>
			<li><%= t ".vline2" %></li>
			<li><%= image_tag("services_vr_sales_manager.jpg") %></li><br>
			<li><%= t ".vline3" %></li>
			<li><%= image_tag("services_vr_payment.png") %></li><br>
			<li><%= t ".vline4" %></li>
			<li><%= image_tag("services_vr_portal.jpg") %></li><br>
		</ul>
	</div>
	<div id="vw">
		<h3><%= t ".wholesale" %></h3>
		<ul>
			<li><%= t ".wline1" %></li>
			<li><%= image_tag("services_vw_signup.jpg") %></li><br>
			<li><%= t ".wline2" %></li>
			<li><%= image_tag("services_vw_add_payment.jpg") %></li><br>
			<li><%= t ".wline3" %></li>
			<li><%= image_tag("services_vw_login.jpg") %></li><br>
			<li><%= t ".wline4" %><br> 
				<span style="font-weight: 300;">Route 1 IP: 208.65.111.131 <br>
				Route 1 IP: 208.65.111.132</span>
			</li>
		</ul>
	</div>
</div>