<% if flash[:error] %>
    <div class="error" style="margin-bottom: 15px;" >
      <%= flash[:error] %>
    </div>
<% end %>
<div class="content_wrapper">
<h2><%= t ".title" %></h2>
<p style="text-align: center;"><%= t ".note" %></p>
<% if session[:admin] != true %>
	<% if @result["alias_list"] %>
		<table id = "ip_list">
			<thead>
			  <tr>
			    <th><%= t ".header" %></th>
			    <th> </th>
			  </tr>
			</thead>
			<tbody>
		    <tr><td><%= @result_id["account_info"]["id"] %> </td><td><strong><%= t(".primary") %><strong></td></tr>
			<% @result["alias_list"].each do |r| %>
			    <tr>
			      <td><%= r["id"] %> </td>
			      <td><span><%= link_to t(".delete"), :id => r["id"], :action => "deleteIP" %></span></td>
			    </tr>
			<% end %>
			</tbody>
		</table>
	<%end%>

	<% if @result["alias_list"].size < 2 %> 
		<div id="add_ip_field">
			<%= form_tag(:action => "updateIP") do %>
				<strong><%= t(".enter")%></strong>
			 	<%= text_field_tag 'ip'%>
			  	<%= submit_tag t(".add"), :class => "common_btn sub_common_btn", :id => "add_ip_btn" %>
			<% end %>
		</div>
	<%end%>

<% end %>
</div>