<% if flash[:error] %>
    <div class="error" style="margin-bottom: 15px;" >
      <%= flash[:error] %>
    </div>
<% end %>
<div class="content_wrapper">
<h2>Manage your IP Addressess</h2>
<p style="text-align: center;">*You can add upto three IP Addresses</p>
<% if session[:admin] != true %>
	<% if @result["alias_list"] %>
		<table id = "ip_list">
			<thead>
			  <tr>
			    <th>IP Addresses</th>
			    <th> </th>
			  </tr>
			</thead>
			<tbody>
		    <tr><td><%= @result_id["account_info"]["id"] %> </td><td><strong><%= "Primary" %><strong></td></tr>
			<% @result["alias_list"].each do |r| %>
			    <tr>
			      <td><%= r["id"] %> </td>
			      <td><span><%= link_to "Delete", :id => r["id"], :action => "deleteIP" %></span></td>
			    </tr>
			<% end %>
			</tbody>
		</table>
	<%end%>

	<% if @result["alias_list"].size < 2 %> 
		<div id="add_ip_field">
			<%= form_tag(:action => "updateIP") do %>
				<strong>Enter IP:</strong>
			 	<%= text_field_tag 'ip'%>
			  	<%= submit_tag "Add", :class => "common_btn sub_common_btn", :id => "add_ip_btn" %>
			<% end %>
		</div>
	<%end%>

<% end %>
</div>