<div class="content_wrapper" style="text-align: left;">
<% if session[:admin] != true %>
  <div class="common_form", id="update_form">
    <% if flash[:error] %>
      <div class="error" style="margin-bottom: 15px;" >
        <%= flash[:error] %>
      </div>
    <% end %>
  <article class="title"><span><%= t ".title" %></span></article>
  <%= form_tag(:action => "doUpdate") do %>
    <%= label_tag t(".ip") %>
    <%= text_field_tag 'id', @ip %><br>
    <%= label_tag t(".cname") %>
    <%= text_field_tag 'companyname', @comp_name %><br>
    <%= label_tag t(".username") %>
    <%= text_field_tag 'username', @user_name %><br>
    <%= label_tag t(".pw") %>
    <%= password_field_tag 'password', @password %><br>
    <%= label_tag t(".fn") %>
    <%= text_field_tag 'first_name', @first_name %><br>
    <%= label_tag t(".ln") %>
    <%= text_field_tag 'last_name', @last_name %><br>
    <%= label_tag t(".email") %>
    <%= text_field_tag 'email', @email %><br>
    <%= label_tag t(".primary") %>
    <%= text_field_tag 'phone1', @phone1 %><br>
    <%= label_tag t(".secondary") %>
    <%= text_field_tag 'phone2', @phone2 %><br>
    <%= submit_tag t(".save"), :class => "common_btn", :id => "update_btn" %>
  <% end %>
  </div>
<%end%>

</div>