<div class="content_wrapper">
  <h2><%= t(".title") %></h2>
  <% if session[:admin] != true %>
    <article id="filter_cdr">
      <p style="text-align: center;"><%= t(".filter") %></p>
      <%= form_tag(:action => 'formatDate') do %>
        <%= label_tag t(".from") %>
        <%= date_select("viewCDR", "from_date", :default => @from_date, :order => [:day, :month, :year]) %>

        <%= label_tag t(".to") %>
        <%= date_select("viewCDR", "to_date", :default => @to_date ,:order => [:day, :month, :year])%>
        <%= submit_tag t(".filter") %>
      <% end %>
    </article>

    <section id="cdr_block_wrapper">

      <article id="next_prev_cdr">
        <% if @page > 1 %>
          <span class="prev_link"><%= link_to t('.prev'), params.merge({:page => @page - 1}) %> </span>
        <% else %>
          <span class="prev_link"><%= t('.prev') %></span>
        <% end %>
        |
        <% if !@calls.empty? and @calls.length == @page_size %>
          <span class="next_link"><%= link_to t('.next'), params.merge({:page => @page + 1}) %></span>
        <% else %>
          <span class="next_link"><%= t('.next') %></span>
        <% end %>
      </article>

      <table class = "list">
        <thead>
          <tr>
            <th><%= t(".from") %></th>
            <th><%= t(".to") %></th>
            <th><%= t(".country") %></th>
            <th><%= t(".call_start") %></th>
            <th><%= t(".call_end") %></th>
            <th><%= t(".charged_time") %></th>
            <th><%= t(".cost") %></th>
          </tr>
        </thead>
        <% if !@calls.empty? %>
          <tbody>
          <% @calls.each do |c| %>
            <% if c['description'] != 'Balance adjustment - Manual Payment'%>
              <tr>
                <td><%= c['CLI'] %></td>
                <td><%= c['CLD'] %></td>
                <td><%= c['country'] %></td>
                <td><%= c['connect_time'] %></td>
                <td><%= c['disconnect_time'] %></td>
                <td><%= (c['charged_quantity'].to_i / 60).to_s + ':' + (c['charged_quantity'].to_i % 60).to_s.rjust(2, "0") %></td>
                <td><%= c['charged_amount'] %></td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        <% else %>
          <tr>
            <td colspan="7"><%= t(".none") %></td>
          </tr>
        <% end %>
      </table>
    </section>
  <% end %>
</div>