<div class="content_wrapper">
  <h2>CDR (Call Detail Record)</h2>
  <% if session[:admin] != true %>
    <article id="filter_cdr">
      <p style="text-align: center;">FILTER</p>
      <%= form_tag(:action => 'formatDate') do %>
        <%= label_tag "From: " %>
        <%= date_select("viewCDR", "from_date", :default => @from_date, :order => [:day, :month, :year]) %>

        <%= label_tag "To: " %>
        <%= date_select("viewCDR", "to_date", :default => @to_date ,:order => [:day, :month, :year])%>
        <%= submit_tag "Filter" %>
      <% end %>
    </article>

    <section id="cdr_block_wrapper">

      <article id="next_prev_cdr">
        <% if @page > 1 %>
          <span class="prev_link"><%= link_to '<<Previous', params.merge({:page => @page - 1}) %> </span>
        <% else %>
          <span class="prev_link"><%= '<< Previous' %></span>
        <% end %>
        |
        <% if !@calls.empty? and @calls.length == @page_size %>
          <span class="next_link"><%= link_to 'Next >>', params.merge({:page => @page + 1}) %></span>
        <% else %>
          <span class="next_link"><%= 'Next >>' %></span>
        <% end %>
      </article>

      <table class = "list">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Country</th>
            <th>Call start</th>
            <th>Call end</th>
            <th>Charged time</th>
            <th>Cost (USD)</th>
          </tr>
        </thead>
        <% if !@calls.empty? %>
          <tbody>
          <% @calls.each do |c| %>
            <tr>
              <td><%= c['CLI'] %></td>
              <td><%= c['CLD'] %></td>
              <td><%= c['country'] %></td>
              <td><%= c['connect_time'] %></td>
              <td><%= c['disconnect_time'] %></td>
              <td><%= (c['charged_quantity'].to_i / 60).to_s + ':' + (c['charged_quantity'].to_i % 60).to_s.rjust(2, "0") %></td>
              <td><%= c['charged_amount'] %></td>
            </tr>
          <% end %>
          </tbody>
        <% else %>
          <tr>
            <td colspan="7">No call records available.</td>
          </tr>
        <% end %>
      </table>
    </section>
  <% end %>
</div>