<div id="add_credit_block" style="text-align: left; margin: auto; width: 350px;">
	<%= form_tag(:action => "wuPaymentSubmit") do %>
	  <%= label_tag t(".amount") %><br>
	  <%= number_field_tag 'amount', @amount %> <br><br>
	  <%= label_tag t(".code") %><br>
	  <%= text_field_tag 'mtcn_code' %> <br><br>
	  <%= submit_tag t(".submit"), :class => "common_btn sub_common_btn", :id => "add_credit_btn" %>
	<% end %>
</div>